header img{
    right: 100px;
    width: 100px;
    height:100px;
    position: relative;
}

header img,h1 {
    display: inline-block;
}

header h1{
    left: 170px;
    position: relative;
    bottom: 40px;

}

main img{
    padding:20px ;
    width: 300px;
    height: 375px;
    border: 2px;
    left: 280px;
    position: relative;
}

#result{
    position: relative;
    width:940px ;
    height: 375px;
    border: 2px;
    left: 280px;


}
table, th, td {
    border: 1px solid black;